In [31]:
import pandas as pd
import numpy as np

In [32]:
from sklearn.datasets import fetch_california_housing
boston = fetch_california_housing()

In [33]:
data = pd.DataFrame(boston.data)

In [34]:
data.head()

        0     1         2         3       4         5      6       7
0  8.3252  41.0  6.984127  1.023810   322.0  2.555556  37.88 -122.23
1  8.3014  21.0  6.238137  0.971880  2401.0  2.109842  37.86 -122.22
2  7.2574  52.0  8.288136  1.073446   496.0  2.802260  37.85 -122.24
3  5.6431  52.0  5.817352  1.073059   558.0  2.547945  37.85 -122.25
4  3.8462  52.0  6.281853  1.081081   565.0  2.181467  37.85 -122.25

In [36]:
data.columns = boston.feature_names

In [37]:
data['PRICE'] = boston.target

In [39]:
data.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,PRICE
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422

In [40]:
data.isnull().sum()

MedInc        0
HouseAge      0
AveRooms      0
AveBedrms     0
Population    0
AveOccup      0
Latitude      0
Longitude     0
PRICE         0
dtype: int64

In [45]:
data.describe()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,PRICE
count,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,3.870671,28.639486,5.429000,1.096675,1425.476744,3.070655,35.631861,-119.569704,2.068558
std,1.899822,12.585558,2.474173,0.473911,1132.462122,10.386050,2.135952,2.003532,1.153956
min,0.499900,1.000000,0.846154,0.333333,3.000000,0.692308,32.540000,-124.350000,0.149990
25%,2.563400,18.000000,4.440716,1.006079,787.000000,2.429741,33.930000,-121.800000,1.196000
50%,3.534800,29.000000,5.229129,1.048780,1166.000000,2.818116,34.260000,-118.490000,1.797000
75%,4.743250,37.000000,6.052381,1.099526,1725.000000,3.282261,37.710000,-118.010000,2.647250
max,15.000100,52.000000,141.909091,34.066667,35682.000000,1243.333333,41.950000,-114.310000,5.000010

In [44]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   MedInc      20640 non-null  float64
 1   HouseAge    20640 non-null  float64
 2   AveRooms    20640 non-null  float64
 3   AveBedrms   20640 non-null  float64
 4   Population  20640 non-null  float64
 5   AveOccup    20640 non-null  float64
 6   Latitude    20640 non-null  float64
 7   Longitude   20640 non-null  float64
 8   PRICE       20640 non-null  float64
dtypes: float64(9)
memory usage: 1.4 MB

In [47]:
x = data.iloc[:, :-1]
y = data.PRICE

In [50]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 4)

In [51]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()

In [52]:
regressor.fit(x_train, y_train)

LinearRegression()

In [53]:
y_pred = regressor.predict(x_test)

In [54]:
from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test, y_pred))
print(rmse)

0.7245753833536993

In [57]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()

In [58]:
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

In [60]:
import keras
from keras.layers import Activation, Dense, Dropout
from keras.models import Sequential

In [61]:
model = Sequential()
model.add(Dense(128, activation='relu', input_dim = 8))
model.add(Dense(64, activation='relu'))
model.add(Dense(32, activation='relu'))
model.add(Dense(16, activation='relu'))
model.add(Dense(1))
model.compile(optimizer = 'adam', loss = 'mean_squared_error')

In [62]:
model.fit(x_train, y_train, epochs = 100)

Epoch 1/100
516/516 [==============================] - 4s 4ms/step - loss: 0.6903
Epoch 2/100
516/516 [==============================] - 1s 2ms/step - loss: 0.3691
Epoch 3/100
516/516 [==============================] - 1s 2ms/step - loss: 0.3379
Epoch 4/100
516/516 [==============================] - 2s 3ms/step - loss: 0.3585
Epoch 5/100
516/516 [==============================] - 2s 4ms/step - loss: 0.3109
Epoch 6/100
516/516 [==============================] - 2s 4ms/step - loss: 0.2993
Epoch 7/100
516/516 [==============================] - 1s 2ms/step - loss: 0.2931
Epoch 8/100
516/516 [==============================] - 1s 2ms/step - loss: 0.2914
Epoch 9/100
516/516 [==============================] - 1s 2ms/step - loss: 0.2927
Epoch 10/100
516/516 [==============================] - 1s 2ms/step - loss: 0.2885
Epoch 11/100
516/516 [==============================] - 1s 2ms/step - loss: 0.2816
Epoch 12/100
516/516 [==============================] - 2s 4ms/step - loss: 0.2764
Epoch 13/100
516/516 [==============================] - 2s 4ms/step - loss: 0.2729
Epoch 14/100
516/516 [==============================] - 4s 9ms/step - loss: 0.2714
Epoch 15/100
516/516 [==============================] - 3s 5ms/step - loss: 0.2661
Epoch 16/100
516/516 [==============================] - 2s 4ms/step - loss: 0.2653
Epoch 17/100
516/516 [==============================] - 2s 5ms/step - loss: 0.2620
Epoch 18/100
516/516 [==============================] - 2s 4ms/step - loss: 0.2617
Epoch 19/100
516/516 [==============================] - 2s 4ms/step - loss: 0.2563
Epoch 20/100
516/516 [==============================] - 4s 8ms/step - loss: 0.2542
Epoch 21/100
516/516 [==============================] - 3s 6ms/step - loss: 0.2535
Epoch 22/100
516/516 [==============================] - 2s 4ms/step - loss: 0.2533
Epoch 23/100
516/516 [==============================] - 2s 4ms/step - loss: 0.2497
Epoch 24/100
516/516 [==============================] - 2s 5ms/step - loss: 0.2454
Epoch 25/100
516/516 [==============================] - 2s 4ms/step - loss: 0.2455
Epoch 26/100
516/516 [==============================] - 4s 7ms/step - loss: 0.2411
Epoch 27/100
516/516 [==============================] - 2s 5ms/step - loss: 0.2409
Epoch 28/100
516/516 [==============================] - 2s 4ms/step - loss: 0.2405
Epoch 29/100
516/516 [==============================] - 2s 4ms/step - loss: 0.2354
Epoch 30/100
516/516 [==============================] - 2s 5ms/step - loss: 0.2362
Epoch 31/100
516/516 [==============================] - 2s 4ms/step - loss: 0.2348
Epoch 32/100
516/516 [==============================] - 3s 6ms/step - loss: 0.2303
Epoch 33/100
516/516 [==============================] - 3s 6ms/step - loss: 0.2284
Epoch 34/100
516/516 [==============================] - 2s 5ms/step - loss: 0.2296
Epoch 35/100
516/516 [==============================] - 2s 4ms/step - loss: 0.2256
Epoch 36/100
516/516 [==============================] - 2s 4ms/step - loss: 0.2247
Epoch 37/100
516/516 [==============================] - 2s 4ms/step - loss: 0.2231
Epoch 38/100
516/516 [==============================] - 2s 3ms/step - loss: 0.2230
Epoch 39/100
516/516 [==============================] - 2s 3ms/step - loss: 0.2216
Epoch 40/100
516/516 [==============================] - 2s 4ms/step - loss: 0.2189
Epoch 41/100
516/516 [==============================] - 3s 6ms/step - loss: 0.2159
Epoch 42/100
516/516 [==============================] - 2s 5ms/step - loss: 0.2206
Epoch 43/100
516/516 [==============================] - 1s 3ms/step - loss: 0.2153
Epoch 44/100
516/516 [==============================] - 1s 3ms/step - loss: 0.2126
Epoch 45/100
516/516 [==============================] - 1s 3ms/step - loss: 0.2103
Epoch 46/100
516/516 [==============================] - 1s 3ms/step - loss: 0.2112
Epoch 47/100
516/516 [==============================] - 1s 2ms/step - loss: 0.2072
Epoch 48/100
516/516 [==============================] - 2s 3ms/step - loss: 0.2072
Epoch 49/100
516/516 [==============================] - 2s 4ms/step - loss: 0.2040
Epoch 50/100
516/516 [==============================] - 2s 4ms/step - loss: 0.2044
Epoch 51/100
516/516 [==============================] - 2s 3ms/step - loss: 0.2039
Epoch 52/100
516/516 [==============================] - 1s 3ms/step - loss: 0.2014
Epoch 53/100
516/516 [==============================] - 1s 3ms/step - loss: 0.1995
Epoch 54/100
516/516 [==============================] - 1s 3ms/step - loss: 0.2004
Epoch 55/100
516/516 [==============================] - 1s 3ms/step - loss: 0.2008
Epoch 56/100
516/516 [==============================] - 1s 3ms/step - loss: 0.1953
Epoch 57/100
516/516 [==============================] - 1s 3ms/step - loss: 0.2036
Epoch 58/100
516/516 [==============================] - 1s 3ms/step - loss: 0.1958
Epoch 59/100
516/516 [==============================] - 2s 4ms/step - loss: 0.1944
Epoch 60/100
516/516 [==============================] - 2s 4ms/step - loss: 0.1920
Epoch 61/100
516/516 [==============================] - 1s 2ms/step - loss: 0.1933
Epoch 62/100
516/516 [==============================] - 1s 2ms/step - loss: 0.1898
Epoch 63/100
516/516 [==============================] - 1s 2ms/step - loss: 0.1884
Epoch 64/100
516/516 [==============================] - 1s 3ms/step - loss: 0.1879
Epoch 65/100
516/516 [==============================] - 1s 3ms/step - loss: 0.1865
Epoch 66/100
516/516 [==============================] - 1s 3ms/step - loss: 0.1857
Epoch 67/100
516/516 [==============================] - 2s 3ms/step - loss: 0.1831
Epoch 68/100
516/516 [==============================] - 2s 4ms/step - loss: 0.1829
Epoch 69/100
516/516 [==============================] - 2s 4ms/step - loss: 0.1833
Epoch 70/100
516/516 [==============================] - 2s 4ms/step - loss: 0.1805
Epoch 71/100
516/516 [==============================] - 1s 2ms/step - loss: 0.1786
Epoch 72/100
516/516 [==============================] - 1s 2ms/step - loss: 0.1802
Epoch 73/100
516/516 [==============================] - 1s 2ms/step - loss: 0.1760
Epoch 74/100
516/516 [==============================] - 1s 2ms/step - loss: 0.1767
Epoch 75/100
516/516 [==============================] - 1s 2ms/step - loss: 0.1753
Epoch 76/100
516/516 [==============================] - 1s 2ms/step - loss: 0.1743
Epoch 77/100
516/516 [==============================] - 1s 2ms/step - loss: 0.1741
Epoch 78/100
516/516 [==============================] - 1s 3ms/step - loss: 0.1738
Epoch 79/100
516/516 [==============================] - 2s 4ms/step - loss: 0.1730
Epoch 80/100
516/516 [==============================] - 2s 4ms/step - loss: 0.1690
Epoch 81/100
516/516 [==============================] - 2s 3ms/step - loss: 0.1710
Epoch 82/100
516/516 [==============================] - 1s 3ms/step - loss: 0.1698
Epoch 83/100
516/516 [==============================] - 1s 3ms/step - loss: 0.1713
Epoch 84/100
516/516 [==============================] - 1s 2ms/step - loss: 0.1675
Epoch 85/100
516/516 [==============================] - 1s 2ms/step - loss: 0.1671
Epoch 86/100
516/516 [==============================] - 1s 3ms/step - loss: 0.1676
Epoch 87/100
516/516 [==============================] - 1s 2ms/step - loss: 0.1652
Epoch 88/100
516/516 [==============================] - 1s 2ms/step - loss: 0.1655
Epoch 89/100
516/516 [==============================] - 3s 5ms/step - loss: 0.1632
Epoch 90/100
516/516 [==============================] - 2s 4ms/step - loss: 0.1654
Epoch 91/100
516/516 [==============================] - 2s 3ms/step - loss: 0.1648
Epoch 92/100
516/516 [==============================] - 1s 2ms/step - loss: 0.1619
Epoch 93/100
516/516 [==============================] - 1s 3ms/step - loss: 0.1601
Epoch 94/100
516/516 [==============================] - 1s 3ms/step - loss: 0.1593
Epoch 95/100
516/516 [==============================] - 1s 3ms/step - loss: 0.1629
Epoch 96/100
516/516 [==============================] - 1s 2ms/step - loss: 0.1589
Epoch 97/100
516/516 [==============================] - 1s 2ms/step - loss: 0.1594
Epoch 98/100
516/516 [==============================] - 1s 2ms/step - loss: 0.1579
Epoch 99/100
516/516 [==============================] - 2s 3ms/step - loss: 0.1548
Epoch 100/100
516/516 [==============================] - 2s 4ms/step - loss: 0.1558

In [63]:
y_pred = model.predict(x_test)

129/129 [==============================] - 1s 3ms/step

In [64]:
rmse = np.sqrt(mean_squared_error(y_test, y_pred))

In [65]:
rmse

0.5211309857354227